[package]
cairo-version = "2.13.1"
name = "summit"
version = "0.1.0"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[dependencies]
starknet = "2.13.1"
openzeppelin_token = "2.0.0"
openzeppelin_access = "2.0.0"
openzeppelin_upgrades = "2.0.0"
beasts_nft = { git = "https://github.com/Provable-Games/beasts.git" }
death_mountain_combat = { git = "https://github.com/Provable-Games/death-mountain.git", branch = "componentize" }
death_mountain_beast = { git = "https://github.com/Provable-Games/death-mountain.git", branch = "componentize" }

[scripts]
test = "snforge test"

[dev-dependencies]
snforge_std = "0.53.0"

[[target.starknet-contract]]
build-external-contracts = ["beasts_nft::beasts_nft"] 

[tool.fmt]
sort-module-level-items = true
max-line-length = 120

[tool.snforge]
fork = [
    { name = "mainnet", url = "https://api.cartridge.gg/x/starknet/mainnet/rpc/v0_10", block_id = { tag = "latest" } }
]

[profile.dev.cairo]
unstable-add-statements-functions-debug-info = true
unstable-add-statements-code-locations-debug-info = true
inlining-strategy = "avoid"